html,
body {
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
    z-index: 1;
}

canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#name {
    position: absolute;
    bottom: 8px;
    left: 16px;
    z-index: 2;
    color: black;
    font: 35px Cotham-Sans, sans-serif;
}


.navigation-bar {
    position: absolute;
    bottom: 8px;
    left: 75%;
    z-index: 2;
    color: black;
    font: 20px Cotham-Sans, sans-serif;
}

@font-face {
    font-family: Cotham-Sans;
    src: url('../fonts/Cotham-master/CothamSans.otf'); 
}

.nav-button {
    
    white-space: nowrap;
}

.nav-button:hover {
    color: pink;
    transform: matrix(1, 2, -1, 1, 80, 80);



}

#projectsDisplay {
    position: absolute;
    /* left: 50%;
    bottom: 50%; */
    color: purple;
}

#aboutMeDisplay {
    color: green;
}

#contactInfoDisplay {
    color: orange;
}

/* #test-div {
    background-color: grey;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50%;
    bottom: 50%;
    z-index: 100;
} */

/* #test-div:hover {
    animation-name: wiggle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* transform-origin: 30% 20%;
    transform: skew(10deg, 10deg); */
} */

/* @keyframes wiggle {
    0% {
        transform-origin: top left;
        transform: skew(5deg, 5deg);
    }
    25% {
        transform-origin: top left;
        transform: skew(-5deg, -5deg);
    }
    50% {
        transform-origin: top left;
        transform: skew(5deg, 5deg);
    }
    75% {
        transform-origin: top left;
        transform: skew(-5deg, -5deg);
    }
    100% {
        transform-origin: top left;
        transform: skew(5deg, 5deg);
    }
} */